<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
      
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Lieux</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container">
<div class="card">
  <div class="card-header">
    Liste des Lieux
  </div>
  <div class="card-body">    
      <table class="table table-striped">
        <tr>
            <th>codeInsee</th><th>depL</th><th>nomCom </th><th>longitude</th><th>latidute</th>
         </tr>  
           <tr th:each="l:${lieux.content }">
              <td th:text="${l.codeInsee}"></td>
               <td th:text="${l.depL}"></td>
              <td th:text="${l.nomCom}"></td>
              <td th:text="${l.longitude}"></td>   
              <td th:text="${l.latitude}"></td> 
              <td><a class="btn btn-success" th:href="@{modifierLieu(id=${l.codeInsee})}">Editer</a></td>
              
             <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
                th:href="@{supprimerLieu(id=${l.codeInsee}, page=${currentPage},size=${size})}">Supprimer</a></td> 
           		
           </tr>             
      </table>
            <ul class="nav nav-pills">
         <li th:each="page,status:${pages}">
           <a th:class="${status.index==currentPage?'btn btn-primary':'btn'  }" 
              th:href="@{ ListeLieux(page=${status.index}, size=${size} ) }"
              th:text="${status.index }"></a>
         </li>
      </ul>
      
  </div>
</div>
</div>
</div>
</body>
</html>
