<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
      
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Monuments</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container">
<div class="card">
  <div class="card-header">
    Liste des Monuments
  </div>
  <div class="card-body">    
      <table class="table table-striped">
        <tr>
            <th>codeM</th><th>NomM </th><th>proprietaire</th><th>typeMonument</th><th>longitude</th><th>latidute</th>
         </tr>  
           <tr th:each="m:${Monuments}">
              <td th:text="${m.codeM}"></td>
              <td th:text="${m.nomM}"></td>
              <td th:text="${m.proprietaire}"></td>   
              <td th:text="${m.typeMonument}"></td>
              <td th:text="${m.longitude}"></td>   
              <td th:text="${m.latitude}"></td> 
             <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
                th:href="@{supprimerMonument(id=${c.codeM}, page=${currentPage},size=${size})}">Supprimer</a></td> 
           		
           </tr>             
      </table>
            <ul class="nav nav-pills">
         <li th:each="page,status:${pages}">
           <a th:class="${status.index==currentPage?'btn btn-primary':'btn'  }" 
              th:href="@{ ListeMonuments(page=${status.index}, size=${size} ) }"
              th:text="${status.index }"></a>
         </li>
      </ul>
      
  </div>
</div>
</div>
</div>
</body>
</html>
