<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">
      
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Liste des Celebrites</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container">
<div class="card">
<span th:text= " ${celebrites.content.size}"></span>
  <div class="card-header">
    Liste des Celebrites 
    
  </div>
  <div class="card-body">    
      <table class="table table-striped">
        <tr>
            <th>numCelebrite</th><th>Nom </th><th>prenom</th><th>nationalite</th><th>epoque</th>
         </tr>  
           <tr th:each="c:${celebrites.content}">
              <td th:text="${c.numCelebrite}"></td>
              <td th:text="${c.nom}"></td>
              <td th:text="${c.prenom}"></td>   
              <td th:text="${c.nationalite}"></td>
              <td th:text="${c.epoque}"></td>   
              <td><a class="btn btn-success" th:href="@{modifierCelebrite(id=${c.numCelebrite})}">Editer</a></td>
              <td><a class="btn btn-danger" onclick="return confirm('Etes-vous sûr ?')"
                th:href="@{supprimerCelebrite(id=${c.numCelebrite}, page=${currentPage},size=${size})}">Supprimer</a></td> 
           		
           </tr>             
      </table>
            <ul class="nav nav-pills">
         <li th:each="page,status:${pages}">
           <a th:class="${status.index==currentPage?'btn btn-primary':'btn'  }" 
              th:href="@{ ListeCelebrites(page=${status.index}, size=${size} ) }"
              th:text="${status.index }"></a>
         </li>
      </ul>
      
  </div>
</div>
</div>
</div>
</body>
</html>
