<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
  <script src="webjars/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  
<head>
<meta charset="utf-8">
<title>Gestion des Celebrites</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Office_De_Tourisme</a>

  <!-- Links -->
  <ul class="navbar-nav">
    

    <!-- Dropdown 
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Celebrités
      </a>
       <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Monuments
      </a>
       <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
       Lieux
      </a>
       <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Departemnts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item"  th:href="@{showCreate}">Ajouter</a>
        <a class="dropdown-item"  th:href="@{ListeCelebrites}">Lister</a>
         <!--<a class="dropdown-item"  th:href="@{ListeMonuments}">Lister</a>  -->
         <!-- <a class="dropdown-item"  th:href="@{ListeLieux}">Lister</a> 
      </div>
    </li>
    </ul> -->
    
			
			<div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Celebrite</button>
        <div class="dropdown-menu">
          <a class="dropdown-item"  th:href="@{showCreate}">Ajouter</a>
        <a class="dropdown-item"  th:href="@{ListeCelebrites}">Lister</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Monument</button>
        <div class="dropdown-menu">
           <a class="dropdown-item"  th:href="@{showCreateM}">Ajouter</a>
           <a class="dropdown-item"  th:href="@{ListeMonuments}">Lister</a>
        </div>
    </div>
       <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">Lieu</button>
        <div class="dropdown-menu">
           <a class="dropdown-item"  th:href="@{showCreateL}">Ajouter</a>
           <a class="dropdown-item"  th:href="@{ListeLieux}">Lister</a>
        </div>
    </div>
			
			    
    
    <ul class="navbar-nav ml-auto" > 
     <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      [username]
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">login</a>
        <a class="dropdown-item" href="#">logout</a>
          <a class="dropdown-item" href="#">Profile</a>
      </div>
    </li>
  </ul>
</nav>
<section layout:fragment="Mycontent" ></section>
</body>
</html>